<h1>Student List</h1>

<div id="build_form">
  <%= render 'link' %>
</div>

<div id="new_form">
</div>

<ul id="student_list">
  <% @students.each do |student| %>
    <%= render 'students/one_line_student', student: student %>
  <% end %>
</ul>
<%= link_to "Go Back", request.referrer %>

