<li>
Class Name: <%= link_to supply.student_class.class_name, supply %><br>
Supplies: <%= supply.name %><br>
Amount: <%= number_to_currency(supply.amount) %><br>
Due: <%= supply.date_due %><br>
</li>
