<h1>Listing Supplies</h1>
<ul>
<% @supplies.each do |supply| %>
  <li>
    <%= link_to supply.student_class.class_name, supply %><br>
    <%= supply.name %><br>
    <%= number_to_currency(supply.amount) %><br>
    <%= supply.date_due %><br>
  </li>
<% end %> 
</ul>
