<h1>StudentClasses#index</h1>
<p>Find me in app/views/student_classes/index.html.erb</p>
<ul>
  <% @student_classes.each do |student_class| %>
    <li><%= link_to student_class.class_name, student_class_path(student_class) %></li>
  <% end %>
</ul>
